<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Performance</title>
</head>
<body>

<h1>Dances</h1>
<p> Below is the list of Dances in the concert Dance Connections. </p>
    <ul>
    <#list dances as x>
      <li> ${x} </li>
    </#list>
    </ul>

<h1>Order</h1>
<p> Below is the show order with the minimum amount of quick changes </p>
    <ul>
    <#list order as y>
      <li> ${y} </li>
    </#list>
    </ul>
  <p> The minimum amount of quick changes is ${numQuick} </p>

<h1>Performers</h1>
<p> Below is the list of performers in Dance Connections. </p>

    <ul>
    <#list performers as z>
      <li> ${z} </li>
    </#list>
    </ul>

</body>
</html>