<!DOCTYPE html>
<html>
<head>
  <!--<#include "header.ftl">-->
</head>



<style>
.hidden{
    display:none;
}

.unhidden{
    display:block;
}
</style>
<script type="text/javascript">
function unhide(clickedButton, divID) {
var item = document.getElementById(divID);
if (item) {
    if(item.className=='hidden'){
        item.className = 'unhidden' ;
        clickedButton.value = 'Cancel'
    }else{
        item.className = 'hidden';
        clickedButton.value = 'Add Student'
    }
}}

</script>


<body>

  <!--<#include "nav.ftl">-->

<div class="container">

  <h1>Database Output</h1>
    <ul>List of dancers goes here</ul>

</div>

<input type="button" onclick="unhide(this, 'addStuDiv') " value="Add Student">

<div id="addStuDiv" class ="hidden">
<form id="addStuForm" method = "post">
ID: <input type="text" name="id"></input> <br>
Full Name (first and last): <input type="text" name="name"><br>
<input type="checkbox" name="style" value="Hip Hop"> Hip Hop 
<input type="checkbox" name="style" value="Jazz"> Jazz 
<input type="checkbox" name="style" value="Ballet"> Ballet
<input type="checkbox" name="style" value="Contemporary"> Contemporary
<input type="checkbox" name="style" value="Modern"> Modern
<input type="checkbox" name="style" value="Tap"> Tap
<input type="checkbox" name="style" value="Theatre"> Theatre
<input type="checkbox" name="style" value="Other"> Other<br> 
Majors: <input type="text" name="Majors"><br>
Expected Graduation Year: <input type="text" name="year"><br>
<button type="submit" value="Submit">Submit</button>
<button type="reset" value="Reset">Reset</button>
</form>
</div>


</body>
</html>